<form>
	<div class="input-group">
 		<span class="input-group-addon" id="name">Name</span>
  		<input type="string" class="form-control" aria-describedby="basic-addon1">
	</div>

	<div class="input-group">
  		<span class="input-group-addon" id="email">E-mail</span>
  		<input type="string" class="form-control" aria-describedby="basic-addon1">
	</div>

	<div class="input-group">
  		<span class="input-group-addon" id="phone">Phone</span>
  		<input type="string" class="form-control" aria-describedby="basic-addon1">
	</div>

	<div class="input-group">
  		<span class="input-group-addon" id="message">Message</span>
  		<textarea type="text" class="form-control" aria-describedby="basic-addon1"></textarea>
	</div>
	<button type="submit" class="btn btn-default">Submit</button>
</form>