<%= content_for :title do %>
  <%= t('categories.title') %>
<% end %>

<h1><%= t('categories.title') %><h1>

<% @categories.each do |cat| %>
  <% create_category_list(cat) do |category| %>
    <h2><%=link_to locale_name(category), show_category_path(locale, slug: category.slug) %></h2>
  <% end %>
<% end %>
